node_modules/
dist/
*.js.map
*.d.ts
!jest.config.js
coverage/
.idea/
.vscode/
*.tgz
temp/
$LOG_FILE

# yarn 4 (berry)
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
